- type: section
  text:
    type: mrkdwn
    text: |
      <@justin> Please perform a final check of the release post:

      <%= "https://release-#{milestone}.about.gitlab-review.app/releases/#{year}/#{month}/22/gitlab-#{milestone}-released/index.html" %>
