# Introduction

It's important to keep category dates in sync. Please review the below changes and update as needed. 

# Linter output

```
<%= `ruby categorydates.rb` %>
```

You can update category maturity dates in [categories.yml](https://gitlab.com/gitlab-com/www-gitlab-com/-/blob/master/data/categories.yml)

You can make updates to this issue template by [editing it directly](https://gitlab.com/gitlab-com/Product/-/edit/main/.gitlab/issue_templates/CATEGORY-DATES.md.erb). 

/assign @joshlambert @nagyv-gitlab @jreporter @hbenson @justinfarris @sarahwaldner @sam.white @tmccaslin @fzimmer @stkerr @mushakov 
